nav {
    width: 400px;
    height: 10dvh;
    margin-top: -15dvh;
    transition: all 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--mgc-gap-l);
}

nav.visible {
    margin-top: 0;
}

.active {
    text-decoration: underline;
}